// Настройка общей оболочки сайта 
html,
body {
	height: 100%;
	font-family: 'MuseoModerno', sans-serif0;
	font-weight: 500;
	color: #fff;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.header {
}

.main {
	flex: 1 1 auto;
}

.footer {
}
